html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.controls {
    background-color: #eee;
    padding: 10px;
}

.content {
    position: relative;
    overflow-y: auto;
}

.detailed-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.player-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-name {
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

.player-price-info {
    display: flex;
}

.player-price {
    font-size: 24px;
    text-align: center;
}

.player-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.player-graph {
    flex: 1;
    overflow: auto;
}

.player-graph__item {
    display: flex;
    justify-content: space-around;
}
